.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.images {
    /*margin-left: 20%;*/
    width: 50%;

}

#group529 {
    position: absolute;
    width: 36%;
    height: 100%;
    top: 2%;
    left: 5%;
    object-fit: contain;
    /*animation: group529 linear 10s;*/
    animation-delay: 2s;
    z-index: 100;
    transform:translateY(50%) ;
}

#back {
    position: absolute;
    width: 73%;
    height: 50%;
    bottom: 50px;
    top: 55%;
    left: -12%;
    /*animation: back linear 7s;*/
    z-index: 10;
}

#back2 {
    position: absolute;
    width: 76%;
    height: 130%;
    top: -10%;
    left: -9%;
    animation: back2  2s;
    /*transform: translateX(-20%) translateY(10%);*/
}

#back3 {
    position: absolute;
    top: -30%;
    right: -42%;
    object-fit: contain;
    /*transform: scale(0.5);*/
    animation: back3 2s;
}


@keyframes group529 {
    50% {

        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes back {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes back2 {
    from{
        transform: translateX(-20%) translateY(10%);
    }
    to {
             transform: translateX(0%) translateY(0%);
    }
}

@keyframes back3 {
    from{
        /*transform: translateX(2%);*/
    }
    to {
        transform: translateX(-10%) translateY(10%);
    }
}