*{
 width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}


.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

